


/*.note_wrapp {*/
/*    border: 1px solid black;*/
/*}*/

.container {
    max-width: 1400px;
    padding: 50px;
}

.form-signin {
    max-width: 300px;
    margin: 0 auto;
}

.form {
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.note_wrapp {
    width: 200px;
    padding: 20px;
    box-shadow: 2px 5px 10px 6px rgba(166, 166, 166, 0.25);
    border-radius: 5px;
    min-height: 200px;
    margin-right: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    position: relative;

}

.notes_wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;


}
.delete_btn{
    margin-top: auto;
    border: none;
    width: 100px;
}
.checkBtn{
    position: absolute;
    top: 25px;
    right: 25px;
}

.create_note_section{
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 2px 5px 10px 6px rgba(166, 166, 166, 0.25);
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#create_note_btn{
    text-transform: uppercase;
color: white;
}
#create_note_textarea{
    min-height: 150px;
    margin-bottom: 30px;
    border: 1px solid grey;
    outline: none;
}


.hidden {
    display: none;
}
